
@{
    ViewBag.Title = "pembalikKata";
}

<h2>pembalikKata</h2>
Masukan Kata
<br />
<form method="get" action="">
    <input type="text" name="kata" placeholder="masukan kata" />
    <button type="submit">Cari</button>
</form>
<br />

<br />
Output
<br />
@ViewBag.kataTerbalik
